@import "mixins";
@import "colors";

snackbar {
  @include vendor-prefix(transition, bottom .4s);
  cursor: pointer;
  border-radius: 2px;
  width: 50%;
  height: 48px;
  display: table-cell;
  position: fixed;
  z-index: 99999;
  margin-left: -25%;
  bottom: -50px;
  left: 50%;
  background-color: #323232;
  color: #dbdbdb;
  vertical-align: middle;
  line-height: 48px;
  text-align: center;

  &.error {
    background-color: $c-error-bg;
  }
}